// COVER
.main__cover {
    padding: 0 0 110px 0;
}
.cover__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.cover__heading {
    margin-right: 64px;
    &-title {
        text-align: left;
        margin-bottom: 36px;
        max-width: 550px;
    }
    &-text {
        text-align: left;
        max-width: 420px;
        margin: 0 0 42px 0;
    }
}
.cover__row {
    &-list {
    }
    &-item {
        padding: 52px 52px 52px 52px;
        background: #EDEDED;
        border: 1px solid #27282D;
        border-radius: 19px;
        max-width: 600px;
        transform: translate(0px, 55%);
        opacity: 0;
        transition: all .8s ease 0s;
        &.active {
            transform: translate(0px, 70%) rotate(14.76deg);
            opacity: 1;
            transition: all .8s ease 0s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    &-items {
        padding: 52px 52px 52px 52px;
        background: #EDEDED;
        border: 1px solid #27282D;
        border-radius: 19px;
        max-width: 600px;
        transform: translate(0px, 100%);
        opacity: 0;
        transition: all .8s ease 0s;
        &.active {
            transform: translate(0px, 15%) rotate(-2.16deg);
            opacity: 1;
            transition: all .8s ease 0s;
            &:hover {
                transform: scale(1.1) translate(0px, -30%);
            }
        }
    }
    &-itemt {
        padding: 52px 52px 52px 52px;
        background: #EDEDED;
        border: 1px solid #27282D;
        border-radius: 19px;
        max-width: 600px;
        transform: translate(0px, 100%);
        opacity: 0;
        transition: all .8s ease 0s;
        &.active {
            transform: translate(0px, -20%) rotate(-12.79deg);
            opacity: 1;
            transition: all .8s ease 0s;
            &:hover {
                transform: scale(1.1) translate(0px, -30%);
            }
        }
    }
}
.second-item {
    transform: translate(0px, 55%);
    opacity: 0;
    transition: all .8s ease 0s;
    &.active {
        transform: translate(0px, );
        opacity: 0;
        transition: all .8s ease 0s;
    }
}
.cover__item {
    &-text {
        max-width: 455px;
        margin: 24px 0 0 0;
        text-align: left;
    }
}
// MEDIA
// 750px
@media (max-width: 750px) {
    .main__cover {
        padding: 0 0 100px 0;
    }
    .cover__inner {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .cover__heading {
        margin: 64px 0 0 0;
        &-title {
            text-align: center;
        }
        &-text {
            text-align: center;
            margin: 0 auto;
        }
        &-btn {
            margin-top: 42px;
            margin-left: 50%;
            transform: translateX(-50%);
        }
    }
}
// 550px
@media (max-width: 550px) {
    .cover__heading {
        margin: 64px 0 0 0;
        &-title {
            text-align: center;
        }
        &-text {
            text-align: center;
            margin: 0 auto;
        }
        &-btn {
            margin-top: 42px;
            margin-left: 50%;
            transform: translateX(-50%);
        }
    }
}