// COVER
.main__cover {
    padding: 0 0 110px 0;
}
.cover__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.cover__heading {
    margin-right: 64px;
    &-title {
        text-align: left;
        margin-bottom: 54px;
        max-width: 550px;
    }
    &-text {
        text-align: left;
        max-width: 420px;
        margin: 0 0 43px 0;
    }
}
.cover__row {
    &-list {
    }
    &-item {
        padding: 29px 1px 53px 29px;
        max-height: 185px;
        background: #EDEDED;
        border: 2px solid #27282D;
        border-radius: 19px;
        max-width: 470px;
        transform: translate(0px, 55%);
        opacity: 0;
        transition: all .8s ease 0s;
        &.active {
            transform: translate(0px, 70%) rotate(14.76deg);
            opacity: 1;
            transition: all .8s ease 0s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    &-items {
        padding: 29px 1px 53px 29px;
        max-height: 185px;
        background: #EDEDED;
        border: 2px solid #27282D;
        border-radius: 19px;
        max-width: 470px;
        transform: translate(0px, 100%);
        opacity: 0;
        transition: all .8s ease 0s;
        &.active {
            transform: translate(0px, 5%) rotate(-2.16deg);
            opacity: 1;
            transition: all .8s ease 0s;
            &:hover {
                transform: scale(1.1) translate(0px, -20%);
            }
        }
    }
    &-itemt {
        padding: 29px 51px 53px 29px;
        min-height: 185px;
        background: #EDEDED;
        border: 2px solid #27282D;
        max-height: 174px;
        border-radius: 19px;
        max-width: 470px;
        transform: translate(0px, 100%);
        opacity: 0;
        transition: all .8s ease 0s;
        &.active {
            transform: translate(0px, -20%) rotate(-12.79deg);
            opacity: 1;
            transition: all .8s ease 0s;
            &:hover {
                transform: scale(1.1) translate(0px, -30%);
            }
        }
    }
}
.second-item {
    transform: t2anslate(0px, 55%);
    opacity: 0;
    transition: all .8s ease 0s;
    &.active {
        transform: translate(0px, );
        opacity: 0;
        transition: all .8s ease 0s;
    }
}
.cover__item {
    &-head {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 22px;
    }
    &-text {
        font-size: 14px;
        line-height: 16px;
        margin: 24px 0 0 0;
        text-align: left;
    }
}
// MEDIA
// 750px
@media (max-width: 750px) {
    .main__cover {
        padding: 0 0 100px 0;
    }
    .cover__inner {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .cover__heading {
        margin: 64px 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-title {
            text-align: center;
        }
        &-text {
            text-align: center;
            margin: 0 auto;
        }
        &-btn {
            margin-top: 42px;

        }
    }
}
// 550px
@media (max-width: 550px) {
    .cover__heading {
        margin: 64px 0 0 0;
        
        &-title {
            text-align: center;
        }
        &-text {
            text-align: center;
            margin: 0 auto;
        }
        &-btn {
            margin-top: 42px;
        }
    }
    .cover__row {
        &-list {
        }
        &-item {
            padding: 29px 5px 53px 29px;
            max-height: 220px;
        }
        &-items {
            padding: 29px 5px 53px 29px;
            max-height: 220px;
        }
        &-itemt {
            padding: 29px 5px 53px 29px;
            max-height: 220px;
        }
    }
    .cover__item {
        &-head {
            font-size: 18px;
            line-height: 18px;
            margin-bottom: 3px;
        }
        &-text {
            font-size: 13px;
            line-height: 13px;
            margin: 24px 0 0 0;
            text-align: left;
        }
    }
}