// GLOBAL SETTINGS
body, html {
    font-family: 'Roboto Mono', monospace;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    color: #000;
    line-height: 18px;
}
.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}
.container {
    max-width: 1270px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}
// BUTTONS
.button {
    padding: 11px 10px 10px 10px;
    background: #27282D;
    border-radius: 7px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    transition: all .3s;
    &:hover {
        box-shadow: 6px 5px #E6FF28;
        color: #E6FF28;
    }
}
.btn {
    padding: 11px 10px 10px 10px;
    background: #fff;
    border: 1px solid #27282D;
    border-radius: 7px;
    font-weight: 400;
    text-align: center;
    transition: all .3s;
    &:hover {
        box-shadow: 6px 5px #E6FF28;
    }
}
// TEXT
h1 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    text-align: center;
    max-width: 960px;
    margin: 0 auto;
}
h2 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}
p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}
// MEDIA TEXT
// 550
@media (max-width: 550px) {
    h1 {
        font-size: 20px;
        line-height: 29px;
    }
    h2 {
        font-size: 20px;
        line-height: 30px;
    }
    p {
        font-size: 13px;
    }
}