// Header
.header {
}
// HEADER-TOP
.header__top {
    position: fixed;
    top: 54px;
    width: 100%;
    z-index: 150;
}
.header__top-inner {
    padding: 21px 38px 21px 32px;
    background: #FFFFFF;
    box-shadow: 3px 3px 8px 3px rgba(95, 0, 162, 0.17);
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.burger {
    
}
.header__top-logo {
    background: url("../images/logo.svg") no-repeat;
    width: 266px;
    height: 59px;
    transition: all .2s;
    &:hover {
        background: url("../images/logo-hover.svg") no-repeat;
        width: 266px;
        height: 59px;
    }
}
.header__nav {
    display: flex;
    align-items: center;
    &-list {
        display: flex;
        align-items: center;
    }
    &-item {
        margin-right: 33px;
        transition: all .3s;
    }
    &-item:hover {
        color: #5F00A2;
    }
    &-link {
        font-weight: 700;
    }
}
// HEADER-BODY
.header__body {
    padding: 230px 0 110px 0;
}
.header__body-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__heading {
    &-title {
        margin-bottom: 42px;
    }
    &-text {
        margin-bottom: 42px;
    }
}
.header__heading-title {
}
.header__heading-text {
}
.header__row {
    margin-bottom: 42px;
    &-list {
        display: flex;
        align-items: center;
    }
    &-item {
        display: flex;
        align-items: center;
        margin-right: 11px;
        &:last-child {
            margin-right: 0;
        }
    }
    &-item img{
        margin: 0 3px;
    }
}
.header__btn {
    &-button {
        margin-right: 31px;
    }
}
// MEDIA
// 1000
@media (max-width: 1000px) {
    .burger {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 50%;
        right: 50px;
        transform: translateY(-50%);
        z-index: 160;
        & span {
            display: block;
            width: 30px;
            height: 5px;
            margin: 3px 0;
            border-radius: 4px;
            background-color: #27282D;
        }
        &::before,
        &::after {
            content: "";
            display: block;
            width: 30px;
            height: 5px;
            border-radius: 4px;
            background-color: #27282D;
        }
    }
    .header__nav {
        position: fixed;
        top: 0px;
        right: 15px;
        left: 15px;
        bottom: 0;
        margin: 0 30px 0 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 250px;
        background-color:#fff;
        box-shadow: 3px 3px 8px 3px rgba(95, 0, 162, 0.17);
        border-radius: 5px;
        margin: 115px;
        z-index: 100;
        margin: 0 auto;
        transform: translateY(-120%);
        transition: all .5s;
        &--open {
            transform: translateY(80%);
        }
        &-list {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &-item {
            margin: 0 0 15px 0;
            &:last-child {
                margin: 0 0 0 0;
            }
        }
        &-button {
            margin: 32px 0 0 0;
        }
    }
}
// 850
@media (max-width: 850px) {
    .header__row-list {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .header__top {
        position: fixed;
        top: 40px;
        width: 100%;
        z-index: 150;
    }
    .header__body {
        padding: 180px 0 110px 0;
    }
}
// 550
@media (max-width: 550px) {
    .header__top-logo {
        background: url("../images/logo-mob.svg") no-repeat;
        width: 200px;
        height: 45px;
        transition: all .2s;
        &:hover {
            background: url("../images/logo-mobh.svg") no-repeat;
            width: 200px;
            height: 45px;
        }
    }
    .header__top {
        top: 25px;
    }
    .header__body {
        padding: 150px 0 110px 0;
    }
    .header__heading {
        &-title {
            margin-bottom: 25px;
        }
        &-text {
            margin-bottom: 25px;
        }
    }
    .header__row {
        margin-bottom: 32px;
    }
}
// 450
@media (max-width: 450px) {
    .header__btn {
        display: flex;
        flex-direction: column;
        &-button {
            margin: 0 0 15px 0;
        }
    }
}