// SERVICE
.main__service {
    padding: 0 0 110px 0;
}
.service__inner {
}
.service__heading {
    margin-bottom: 42px;
    &-title {
        margin-bottom: 36px;
        max-width: 639px;
    }
    &-text {
        max-width: 800px;
    }
}
.service__grid {
    display: flex;
    justify-content: center;
    &-list {
        display: grid;
        grid-template: repeat(2, 400px) / repeat(2, 400px);
        gap: 47px;
    }
    &-item {
        padding: 52px 10px 88px 37px;
        background-color: #EDEDED;
        box-shadow: 17px 13px #5F00A2;
        border-radius: 19px;
        transition: all .8s ease;
        position: relative;
        &:hover {
            background-color: #5F00A2;
            box-shadow: 17px 13px #E6FF28;
            color: #fff;
            cursor: default;
        }
        &:hover p {
            color: #fff;
            cursor: default;
        }
        &:hover h2 {
            color: #fff;
            cursor: default;
        }
    }
}
.service__grid-back {
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/service/3block.svg") no-repeat;
    width: 400px;
    height: 400px;
    transform: translate(0px, 55%);
    opacity: 0;
    z-index: 1;
    transition: all .8s ease 0;
    &.active {
        transform: translate(0px, 0px);
        opacity: 1;
        transition: all .8s ease .0s;
    }
    &:hover {
        z-index: 5;
        background: url("../images/service/3block-no.svg") no-repeat;
        width: 400px;
        height: 400px;
        transform: scale(0.95);
    }
}
.service__grid-backgr {
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/service/4block-no.svg") no-repeat;
    width: 400px;
    height: 400px;
    transform: translate(0px, 55%);
    opacity: 0;
    transition: all .8s ease 0;
    &.active {
        transform: translate(0px, 0px);
        opacity: 1;
        transition: all .8s ease .0s;
    }
}
.service__item-head {
    margin-bottom: 24px;
    transform: translate(120%, 0px);
    opacity: 0;
    transition: all .8s ease 0;
    &.active {
        transform: translate(0px, 0px);
        opacity: 1;
        transition: all .8s ease 0s;
    }
}
.service__item-text {
    text-align: left;
    margin-bottom: 8px;
    font-weight: 500;
    color: #000;
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all .8s ease 0;
    &:last-child {
        margin-bottom: 0;
    }
    &.active {
        transform: translate(0px, 0px);
        opacity: 1;
        transition: all .8s ease .0s;
    }
}