// SERVICE
.main__service {
    padding: 0 0 110px 0;
}
.service__inner {
}
.service__heading {
    margin-bottom: 42px;
    &-title {
        margin-bottom: 36px;
        max-width: 692px;
    }
    &-text {
        max-width: 740px;
    }
}
.service__grid {
    display: flex;
    justify-content: center;
    &-list {
        display: grid;
        grid-template: repeat(2, auto) / repeat(2, auto);
        gap: 47px;
    }
    &-item {
        padding: 52px 10px 88px 37px;
        background-color: #EDEDED;
        box-shadow: 17px 13px #5F00A2;
        border-radius: 19px;
        transition: all .8s ease;
        position: relative;
        max-width: 500px;
        height: 500px;
        &:hover {
            background-color: #5F00A2;
            box-shadow: 17px 13px #E6FF28;
            color: #fff;
            cursor: default;
        }
        &:hover p {
            color: #fff;
            cursor: default;
        }
        &:hover h2 {
            color: #fff;
            cursor: default;
        }
    }
}
.service__grid-back {
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/service/2block-no.svg") no-repeat;
    width: 100%;
    height: 100%;
    transition: all .3s;
    &:hover {
        z-index: 5;
        background: url("../images/service/2block.svg") no-repeat;
        width: 100%;
        height: 100%;
        transform: scale(0.97);
    }
}
.service__grid-backgraund {
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/service/4block1.svg") no-repeat;
    width: 100%;
    height: 100%;
    transition: all .3s;
    margin-right: 20px;
    &:hover {
        z-index: 5;
        background: url("../images/service/4block12.svg") no-repeat;
        width: 100%;
        height: 100%;
        transform: scale(0.97);
    }
}
.service__grid-backgraunds {
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/service/3block-no.svg") no-repeat;
    width: 100%;
    height: 100%;
    transition: all .3s;
    &:hover {
        z-index: 5;
        background: url("../images/service/3block.svg") no-repeat;
        width: 100%;
        height: 100%;
        transform: scale(0.97);
    }
}
.service__grid-backgr {
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/service/1block-no.svg") no-repeat;
    width: 100%;
    height: 100%;
    transition: all .3s;
    &:hover {
        z-index: 5;
        background: url("../images/service/1block.svg") no-repeat;
        width: 100%;
        height: 100%;
        transform: scale(0.97);
    }
}
.service__item-head {
    margin-bottom: 24px;
}
.service__item-text {
    text-align: left;
    margin-bottom: 8px;
    font-weight: 500;
    color: #000;
    transition: all .3s;
}
// MEDIA
// 1000
@media (max-width: 1000px) {
    .service__grid-backgraund {
        background: url("../images/service/4block-no.svg") no-repeat;
        &:hover {
            background: url("../images/service/4block.svg") no-repeat;
        }
    }
    .service__grid-backgr {
        background: url("../images/service/1block1.svg") no-repeat;
        &:hover {
            background: url("../images/service/1block12.svg") no-repeat;
        }
    }
}
// 900
@media (max-width: 900px) {
    .service__grid {
        display: flex;
        justify-content: center;
        &-list {
            display: grid;
            grid-template: repeat(2, auto) / repeat(1, auto);
            gap: 47px;
        }
    }
    .service__grid-backgr {
        background: url("../images/service/1block12.svg") no-repeat;
        &:hover {
            background: url("../images/service/1block1.svg") no-repeat;
        }
    }
}
// 550
@media (max-width: 550px) {
    .service__grid {
        display: flex;
        justify-content: center;
        margin: 0 20px 0 10px;
        &-list {
            display: grid;
            grid-template: repeat(2, auto) / repeat(1, 90vw);
            gap: 47px;
        }
    }
    .service__grid-backgraund {
        background: url("../images/service/4block1.svg") no-repeat;
        &:hover {
            background: url("../images/service/4block12.svg") no-repeat;
        }
    }
}
// 550
@media (max-width: 550px) {
    .service__grid-backgr {
        background: url("../images/service/1block-mob1.svg") no-repeat;
        &:hover {
            background: url("../images/service/1block-mob.svg") no-repeat;
        }
    }
    .service__grid-backgraund {
        background: url("../images/service/4block-mob1.svg") no-repeat;
        &:hover {
            background: url("../images/service/4block-mob.svg") no-repeat;
        }
    }
}