// TEAM
.main__team {
    padding: 0 0 110px 0;
}
.team {
    &__slider {
        display: flex;
        width: 5240px;
    }
    &__slaid { 
        margin-right: 20px;
        transform: translate3d(0, 0, 0);
        animation: teams 45s linear infinite;
        border-radius: 12px;
    }
    &__image-box {
        position: relative;
        border-radius: 15px;
    }
    &__image-info {
        margin-top: 5px;
        text-align: center;
        padding: 5px 5px;
        background-color: #fff;
        border-radius: 12px;
        cursor: default;
    }
    &__info-name {
        font-weight: 700;
        margin-bottom: 2px;
    }
}
.purple {
    background-color: #5F00A2;
    &__img {
        border-radius: 15px;
        border: 6px solid #5F00A2;
    }
}
.yellow {
    background-color: #E6FF28;
    &__img {
        border-radius: 15px;
        border: 6px solid #E6FF28;
    }
}
.orange {
    background-color: #FF5100;
    &__img {
        border-radius: 15px;
        border: 6px solid #FF5100;
    }
}
@keyframes teams {
    100% {
        transform: translate3d(-2500px, 0, 0);
    }
}
.team__image-box img {
    width: 227px;
    border-radius: 10px;
    filter: grayscale(1);
    transition: all .3s;
    overflow: hidden;
}
.team__image-box:hover img {
    filter: grayscale(0);
}
// MEDIA
// 750px
@media (max-width: 750px) {
    .main__team {
        padding: 0 0 64px 0;
    }
    .team {
        &__slaid {
            animation: teams 40s linear infinite;
        }
        &__image-box {
            width: 190px;
            & img {
                width: 180px;
            }
        }
        &__image-info {
            width: 180px;
            height: 49px;
        }
    }
    .purple__info {
        margin-top: 5px;
    }
}