@import "_global";
@import "_header";
@import "_team";
@import "_progress";
@import "_cover";

// OFFER------------------------
.main__offer {
    padding: 0 0 110px 0;
}
.offer__inner {
}
.offer__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-title {
        text-align: left;
        max-width: 400px;
    }
    &-text {
        text-align: left;
        max-width: 470px
    }
}
// MEDIA
// 1000
@media (max-width: 1000px) {
    .offer__heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        &-title {
            text-align: center;
            max-width: 400px;
            margin-bottom: 36px;
        }
        &-text {
            text-align: center;
            max-width: 470px
        }
    }
}
// -----------------------------
// BUILD
.main__build {
    padding: 0 0 110px 0;
}
.build__heading {
    text-align: center;
    margin-bottom: 42px;
    &-title {
        max-width: 1100px
    }
}
.build__scroll {
    display: flex;
    align-items: center;
    width: 4421px;
    padding-right: 500px;
    &-item {
        width: 220px;
        border: 1px solid #27282D;
        text-align: center;
        border-radius: 25px;
        margin-right: 20px;
        padding: 10px;
        transform: translate3d(0, 0, 0);
        animation: scrl 15s linear infinite;
        transition: all .4s;
        cursor: default;
        &:hover {
            color: #fff;
            background-color: #5F00A2;
            border: 1px solid #5F00A2;
        }
    }
}
@keyframes scrl {
    0% {
        transform: translate3d(0%, 0, 0);
    }
    100% {
        transform: translate3d(-400%, 0, 0);
    }
}
.build__grid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
    &-list {
        display: grid;
        grid-template: repeat(3, auto) / repeat(8, 70px);
        align-items: center;
        justify-items: center;  
        gap: 90px;
    }
    &-item {
        opacity: 1;
        transition: all .3s;
        &:hover {
            opacity: 1;
            transform: scale(1.2);
        }
    }
}
// MEDIA
// 1250px
@media (max-width: 1250px) {
    .build__grid {
        &-list {
            grid-template: repeat(4, auto) / repeat(6, 70px);
            gap: 90px;
        }
}
}
// 950px
@media (max-width: 950px) {
    .build__grid {
        &-list {
            grid-template: repeat(6, auto) / repeat(4, 70px);
            gap: 30px;
        }
}
}
// 500px
@media (max-width: 500px) {
    .build__scroll {
        width: 3421px;
    }
    .build__scroll-item {
        width: 150px;
        padding: 7px;
    }
    .build__grid {
        &-list {
            grid-template: repeat(6, auto) / repeat(4, 70px);
            gap: 10px;
        }
}
}
//----------------------------------------------------------------------
@import "_service";
@import "_testimonials";
@import "_case";

// CROKIO
.main__crokio {
    padding: 0 0 110px 0;
}
.crokio__inner {
}
.crokio__heading {
    margin-bottom: 64px;
    &-title {
        text-align: center;
        margin-bottom: 36px;
    }
}
.crokio__grid {
    display: flex;
    justify-content: center;
    &-list {
        display: grid;
        grid-template: repeat(3, 200px) / repeat(3, 380px);
        gap: 47px;
    }
    &-item {
        text-align: left;
        & h2 {
            white-space: nowrap;
            font-size: 20px;
            line-height: 22px;
            margin-bottom: 24px;
            text-align: left;
        }
        & p {
            text-align: left;
        }
    }
    &-img {
        margin-bottom: 8px;
    }
}
// MEDIA
// 1300
@media (max-width: 1300px) {
    .crokio__grid {
        &-list{
            display: grid;
            grid-template: repeat(5, 200px) / repeat(2, 380px);
            gap: 47px;
        }
    }
}
// 850
@media (max-width: 850px) {
    .crokio__grid {
        &-list{
            display: grid;
            grid-template: repeat(9, 220px) / repeat(1, 300px);
            gap: 20px;
        }
        &-item {
            & h2 {
                white-space:normal;
                text-align: center;
            }
            & p {
                text-align: center;
                white-space: normal;
            }
        }
        &-img {
            display: flex;
            justify-content: center;
        }
    }
}
// ---------------------------------------------------------------------
// OUTCOMES
.main__outcomes {
    padding: 0 0 110px 0;
}
.outcomes__inner {
}
.outcomes__heading {
    margin-bottom: 42px;
}
.qoutcomes__scrolls {
    margin-top: 10px;
    margin-left: -50px;
    display: flex;
    align-items: center;
    width: 1421px;
    z-index: 5;
    font-size: 35px;
    cursor: default;
    color: #EDEDED;
    animation: scr 250s linear infinite;
    &-item {
        width: 800px;
        text-align: center;
        margin-right: 20px;
        margin-left: 20px;
        padding: 25px 10px;
        white-space: nowrap;
        transform: translate3d(0, 0, 0);
        transition: all .3s;
        & p {
            font-family: 'Roboto Mono';
            font-weight: 700;
            font-size: 30px;
        }
        &:hover {
            color:#5F00A2;
        }
    }
}
.qoutcomes__scroll {
    margin-top: 10px;
    margin-left: -950px;
    display: flex;
    align-items: center;
    width: 3421px;
    font-size: 40px;
    cursor: default;
    animation: scrr 250s linear infinite;
    &-item {
        width: 800px;
        text-align: center;
        margin-right: 20px;
        padding: 25px 10px;
        white-space: nowrap;
        transform: translate3d(0, 0, 0);
        transition: all .3s;
        & p {
            font-family: 'Roboto Mono';
            font-weight: 700;
            font-size: 30px;
        }
        &:hover {
            color:#5F00A2;
        }
    }
}
@keyframes scr {
    100% {
        transform: translate3d(-3000px, 0, 0);
    }
    0% {
        transform: translate3d(0%, 0, 0);
    }
}
@keyframes scrr {
    100% {
        transform: translate3D(3000px, 0, 0);
    }
    0% {
        transform: translate3d(0%, 0, 0);
    }
}
// MEDIA
// 550
@media (max-width: 550px) {
    .qoutcomes__scrolls {
        &-item {
            padding: 15px 10px;
            & p {
                font-size: 24px;
            }
        }
    }
    .qoutcomes__scroll {
        &-item {
            padding: 15px 10px;
            & p {
                font-size: 24px;
            }
        }
    }
}
// ---------------------------------------------------------------------
// BUSINESS
.main__business {
    padding: 0 0 110px 0;
    display: flex;
    justify-content: center;
}
.business__inner {
    margin: 0 30px 0 30px;
}
.business__box {
    padding: 75px 37px 60px 37px;
    background-color: #EDEDED;
    box-shadow: 17px 13px #5F00A2;
    max-width: 1000px;
    border-radius: 19px;
    transition: all .8s ease;
    position: relative;
    &:hover {
        background-color: #5F00A2;
        box-shadow: 17px 13px #E6FF28;
        color: #fff;
        cursor: default;
    }
}
.business__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title {
        margin-bottom: 36px;
    }
    &-text {
        margin-bottom: 42px;
    }
}
.business__btn {
    &-button {
        margin-right: 31px;
    }
}
// MEDIA
// 550
@media (max-width: 550px) {
    .business__box {
        padding: 55px 10px 40px 10px;
    }
    .business__btn {
        display: flex;
        flex-direction: column
    }
    .business__btn-button {
        margin: 0 0 26px 0;
    }
}
// --------------------------------------------------------------------------
@import "_footer";